.hero {
    min-height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
      url('https://source.unsplash.com/random/1920x1080/?technology') center/cover;
    padding-top: 80px; /* Offset for fixed navbar */
  }

  
  .card {
    transition: transform 0.3s ease-in-out;
  }
  
  .card:hover {
    transform: translateY(-10px);
  }
  
  .bi {
    vertical-align: -.125em;
  }