#plant-title{
    font-weight: 600;
    color: #111B21;
}

#fading-line {
    width: 100%;
    height: 2px;
    background: linear-gradient(to right, transparent, #111B21, transparent);
    margin: 15px 0 5px 0;
  }

  .plants-overlay {
    background: linear-gradient(to top, #000000, #00000000);
    padding: 20px;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
  }
  