.blinking-cursor {
    animation: blink 1s step-end infinite;
    margin-left: 2px;
  }
  
  @keyframes blink {
    from, to { opacity: 1; }
    50% { opacity: 0; }
  }

  .typer{
    color: #01612b;
    -webkit-text-stroke: 2px #fff; /* width and color */
  }